.projectsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin-top: 5vh;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  width: 90%;
  height: 6vh;
}

.buttonLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 1vh;
  min-width: 10vh;
  padding: 0.5vh;
  text-align: center;
  text-decoration: none;
  font-size: 1.4vh;
  border-radius: 2.5vh;
  border: 2px solid #85b3b0;
  transition: background-color 0.3s;
}

.buttonLink:hover {
  background-color: #85b3b0;
  transition: background-color 0.3s;
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 30%;
  height: 100%;
}

.projectImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 330px;
  max-width: 330px;
  min-height: 330px;
  border-radius: 1vh;
  transition: filter 0.4s ease-in-out;
}
.projectHoverContainer:hover > .projectImage {
  filter: blur(5px) grayscale(1.0);
  transition: filter 0.4s ease-in-out;
}

.projectHoverContainer {
  display: flex;
}

.projectHover {
  position: absolute;
  color: white;
  text-shadow: 0 0 10px black;
  flex-direction: column;
  justify-content: space-between;
  width: 330px;
  height: 330px;
  padding: 1% 2%;
  border-radius: 1vh;
  opacity: 0.0;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  transition: opacity 1.0s;
}

.projectHover:hover {
  position: absolute;
  display: flex;
  opacity: 1.0;
  transition: opacity 1.0s;
}

.name {
  color: #E5C799;
  border-bottom: 2px solid #85B3B0;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  padding: 1vh 0;
  width: 100%;
  /* margin: 2vh 0; */
  /* height: 10vh; */
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  padding: 0.5vh;
  height: 15vh;
}

.technologies {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 0.5vh;
}

.buttonLabel {}

.button {}

.buttonLabel {}

.buttonLink:link {
  color: white;
}

.buttonLink:active {
  color: #e5c799;
}

.buttonLink:visited {
  color: white;
  transition: color 0.3s;
}
.buttonLink:visited:hover {
  color: #143d3e;
  transition: color 0.3s;
}

@media screen and (max-width: 1600px) {
  .projectsWrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .projectImage {
    min-width: 30vw;
    max-width: 30vw;
    min-height: 30vw;
  }
  .projectHover {
    transform: translate(-10vw, -10vh);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3%;
    min-width: 50vw;
    max-width: 50vw;
    min-height: 50vw;
    max-height: 70vw;
  }
  .name {
    width: 200%;
    border-bottom: 0px solid #85B3B0;
    border-top: 2px solid #85B3B0;
    font-size: 3vh;
  }
  .description {
    font-size: 2vh;
  }
  .technologies {
    font-size: 1.5vh;
  }
}

@media screen and (min-width: 600px) and (max-width: 1599px) {

  .projectHover {
    transform: translate(0vw, 0vh);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3%;
    min-width: 30vw;
    max-width: 30vw;
    min-height: 30vw;
    max-height: 50vw;
  }
  .name {
    width: 200%;
    font-size: 5vh;
  }
  .description {
    font-size: 2vh;
  }
  .technologies {
    font-size: 1.5vh;
  }
}
