#pdf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4vh 0;
  box-shadow: 0 0 15px black;
}

.react-pdf__Page__canvas {
  width: 31.88vw !important;
  height: 41.25vw !important;
}

.downloadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  width: 10vw;
  min-width: 4vh;
  padding: 0.5vh;
  margin-bottom: 3vh;
  text-align: center;
  text-decoration: none;
  border-radius: 2.5vh;
  border: 2px solid #85b3b0;
  transition: background-color 0.3s;
}

.downloadButton:hover {
  background-color: #85b3b0;
  transition: background-color 0.3s;
}

.downloadButton:link {
  color: white;
}

.downloadButton:active {
  color: #e5c799;
}

.downloadButton:visited {
  color: white;
  /* color: #143d3e; */
  transition: color 0.3s;
}
.downloadButton:visited:hover {
  color: #143d3e;
  transition: color 0.3s;
}

@media screen and (max-width: 1300px) {
  .buttonLabel {
    display: none;
  }
}
