.contactWrapper {
  margin: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 50vh;
  animation: blurIn 0.8s;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  width: 100%;
  padding-bottom: 5vh;
}

.contactRow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
  gap: 2vh;
  margin-bottom: 1vh;
  width: 100%;
}

.links {
  text-decoration: none;
  color: #e5c799;
}

.socialWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
  width: 100%;
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  width: 10vw;
  min-width: 4vh;
  padding: 0.5vh;
  text-align: center;
  text-decoration: none;
  border-radius: 2.5vh;
  border: 2px solid #85b3b0;
  transition: background-color 0.3s;
}

.socialButton:hover {
  background-color: #85b3b0;
  transition: background-color 0.3s;
}


.socialButton:link {
  color: white;
}

.socialButton:active {
  color: #e5c799;
}

.socialButton:visited {
  color: white;
  transition: color 0.3s;
}

.socialButton:visited:hover {
  color: #143d3e;
  transition: color 0.3s;
}

.copyright {
  position: relative;
  bottom: 0;
  color: #d1dece;
}


@media screen and (max-width: 1300px) {
  .buttonLabel {
    display: none;
  }
}

@keyframes blurIn {
  from {
    opacity: 0.0;
    transform: scale(1.2);
    filter: blur(1.5rem);
  }
  to {
    opacity: 1.0;
    transform: scale(1);
    filter: blur(0);
  }
}
