.navWrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 25vw;
  max-width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  justify-content: flex-start;
  padding-top: 5%;
  align-items: center;
  background-color: rgb(30,30,30);
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  animation: slideInNav 2.5s ease-in-out 2.5s backwards;
}

.sections {
  width: 70%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  text-align: right;
  line-height: 6.5vh;
}

.sectionLabel {
}

.navLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  /* width: 60%; */
  gap: 1.5vh;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3.5vh;
  width: 5vh;
  height: 5vh;
  background-color: slategrey;
  border-radius: 50%;
}

.navLink::after {
  position: fixed;
  content: "";
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border 0.4s;
}

.navLink:hover::after {
  position: fixed;
  content: "";
  height: 5.4vh;
  width: 5.4vh;
  border-radius: 50%;
  border: 2px solid white;
  animation: lockOn 0.25s;
}

.navLinkActive {
  /* color: red; */
}

.avatar {
  background-image: url(../../assets/profilepic.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


@keyframes lockOn {
  0% {
    border: 2px solid white;
    height: 6.0vh;
    width: 6.0vh;
    opacity: 0.2;
  }
  33% {
    border: 2px solid white;
    height: 5.4vh;
    width: 5.4vh;
    opacity: 0.5;
  }
  100% {
    border: 2px solid white;
    height: 5.0vh;
    width: 5.0vh;
    opacity: 1.0;
  }
}

.avatar {
  min-width: 15vw;
  max-width: 15vw;
  min-height: 15vw;
  background-color: slategrey;
  border-radius: 50%;
  animation: slideInLeft 0.5s;
}

@keyframes slideInLeft {
  from {
    opacity: 0.0;
    transform: translateX(-25vw);
  }
  to {
    opacity: 1.0;
    transform: translateX(0vw);
  }
}

@keyframes slideInNav {
  0%, 50% {
    opacity: 0.0;
    transform: translateX(-25vw);
  }
  100% {
    opacity: 1.0;
    transform: translateX(0vw);
  }
}

@media screen and (max-width: 1200px) {
  .sections {
    display:none;
  }
}
