styles-guide {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: #E5C799;
  color: #D1DECE;
  color: #85B3B0;
  color: #0E5C5A;
  color: #143D3E;
  color: #0b2020;
}
